@import "~bootstrap-icons/font/bootstrap-icons.css";
.body{
    display: flex;
    background: #f1f1f1;
    margin: 10px 0px;
    padding: 15px;
}
.body:hover{
    background: gainsboro;
}
.name{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}
.issue{
    margin-left: 4px;
}
.issue_content{
    text-align: justify;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
}
.icon{
    width: 60px;
    clip-path: circle();
    margin-right: 10px;
}
.issue_infor{
    display: flex;
}
.issue_infor{
    margin: 2px 5px 2px 0px;
}
.function{
    margin-top: 10px;
    text-align: left;
}
.function i:before{
    font-size: 20px;
    margin-left: 15px;
}
.function .bi-balloon-heart-fill:before{
    color: #4484CE;
}