<a [routerLink]="['/issue_detail']" class="body">
    <div>
        <img class="icon" src="assets/Images/icon.jpg" alt="" >
    </div>
    <div class="issue">
        <div class="name">Nguyen Tran Thanh Liem
             - <span class="class">12</span>
             - <span class="subject">Maths</span>
             - <span class="score">10</span>
        </div>
        <div class="issue_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla recusandae temporibus expedita maxime, dicta dolorum aliquid ab officia deserunt alias voluptatem dignissimos earum, dolor maiores eligendi! Ea, nulla nisi sint sequi porro suscipit dicta quibusdam quam velit minima, molestiae odio fugiat. Ullam magnam ipsa modi. Sequi laudantium fuga hic necessitatibus!
        </div>
        <div class="function">
            <i class="bi bi-balloon-heart-fill">2.000</i>
            <i class="bi bi-balloon-heart">20.000</i> 
        </div>
    </div>
</a>