textarea{
    height: 100px;
    width: 240px;
    overflow-wrap: break-word;
}
.body{
    text-align: center;
    margin: auto;
    width: 80%;
}
table{
    margin: auto;
}
select{
    width: 100px;
    margin-left: 10px;
}
button{
    height: 24px;
    margin: 16px;
}