<div class="body">
    <h2>What is your issue</h2>
    <table>
        <tr>
            <td rowspan="3">
                <textarea name="Text1" cols="40" rows="5"></textarea>
            </td>
            <td>
                <label for="class">Class</label>
                <select name="class" id="class">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="subject">Subject</label>
                <select name="subject" id="subject">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button>Save</button>
                <button>Draft</button>
            </td>
        </tr>
    </table>
</div>